<mat-card>
  <mat-card-title>
    Edit Role
  </mat-card-title>
  <form [formGroup]="roleForm" autocomplete="off" novalidate (ngSubmit)="save(roleForm.getRawValue())">
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" placeholder="RoleName" formControlName="RoleName" id="rolename" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput type="text" placeholder="Menus" formControlName="Menus" id="menus" hidden="hidden" />
        <mat-selection-list #MenusSelected formControlName="MenusSelected">
          <mat-list-option *ngFor="let menu of selectedMenus" [value]="menu.MenuName" [selected]="menu.Selected">
            {{menu.MenuName}}
          </mat-list-option>
        </mat-selection-list>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="primary" [disabled]="!roleForm.valid">
        Save
      </button>
      <button type="button" mat-raised-button color="theme" (click)="cancel()">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
